{% extends 'movies/base.html' %}

{% block content %}
    {% for movie in movies %}
        <div>
            <p>year: {{ movie.year }}</p>
            <h1><a href="{% url 'movie_detail' pk=movie.pk %}">{{ movie.name_uk }}"</a></h1>
            <p>{{ movie.story|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}