{% extends 'movies/base.html' %}

{% block content %}
    <div>
        <h1>{{ movie.name_uk }}</h1>
        <p>{{ movie.year }}</p>
        <p>{{ movie.story|linebreaksbr }}</p>
        <p>{{ movie.premiere }}</p>
        <p>
	        Country: <br/>
		    {% for country in movie.country.all %}
		    	{{ country }}<br/>
		    {% endfor %}
		</p>
		<p>
		    Genre: <br/>
		    {% for genre in movie.genre.all %}
		    	{{ genre }}<br/>
		    {% endfor %}
		</p>
    </div>

{% endblock %}